<div class="card-product mb-3 col-md-9 col-sm-12">
  <%= image_tag art.picture, alt: art.title %>
  <div class="card-product-infos">
    <div>
      <h2><%= art.title %></h2>
      <p><em> <%= art.artist %></em></p>
      <p><%= art.description %></p>
    </div>
    <div class="card-product-align-right">
      <h2 class="card-product-pricing"><%= art.price %>€ / day</h2>
      <p><%= art.user.first_name %> <%= art.user.last_name %></p>
    </div>
  </div>
</div>
