<div class="card-product mb-3 col-12">
  <div class="img-container">

    <%= cl_image_tag art.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="card-product-infos">
    <div>
      <h2><%= link_to art.title, art_path(art.id) %></h2>
      <p><em> <%= art.artist %></em></p>
      <p class="art-description"><%= art.description %></p>
    </div>
    <div class="card-product-align-right">
      <h2 class="card-product-pricing"><%= art.price %>€ / day</h2>
      <p><%= art.user.first_name %> <%= art.user.last_name %></p>
    </div>
  </div>
</div>
