<div class="container">
  <div class="dashboard-art-collection">
    <h3>Your listed art:</h3>
    <% arts = Art.where("user_id = #{current_user.id}") %>
    <p><em><%= "Nothing here yet..." if arts.empty? %></em></p>
    <% arts.each do |art| %>
      <div class="card-dashboard mb-3 col-12">
        <div class="dashboard-img-container">
          <%= image_tag art.picture, alt: art.title %>
        </div>
        <div class="card-dashboard-infos">
          <div class="card-dashboard-infos-align-left">
            <h2><%= link_to art.title, art_path(art.id) %></h2>
            <h2><%= art.price %>€ / day</h2>
            <p><em> <%= art.artist %></em></p>
            <p class="art-description"><%= art.description %></p>
          </div>
          <div class="card-dashboard-align-right">
            <% if current_user.bookings_as_owner.count.positive? %>
              <h2>Pending booking requests:</h2>
            <% else %>
              <h2> No pending bookings.</h2>
            <% end %>
            <div class="card-dashboard-bookings">
              <% current_user.bookings_as_owner.each do |booking| %>
                <% if booking.accepted && booking.art_id == art.id %>
                  <div class="card-dashboard-booking-accepted">
                    <div class="card-dashboard-booking-details-text">
                      <p class="success-text"><i class="fas fa-check"></i> Booking accepted! Art will be at <%= booking.user.first_name %> <%= booking.user.last_name %>'s place from <%= booking.start_date %> to <%= booking.end_date %>.</p>
                    </div>
                    <div class="card-dashboard-booking-details-buttons">
                      <%= link_to "Cancel booking", booking_path(booking), method: :delete, class: "btn-cancelbooking" %>
                    </div>
                  </div>
                <% elsif booking.art_id == art.id %>
                  <div class="card-dashboard-open-bookings">
                    <div class="card-dashboard-booking-details-text">
                      <p><%= booking.user.first_name %><%= booking.user.last_name %> wants to rent <%= art.title %></p>
                      <p>from: <%= booking.start_date %> to: <%= booking.end_date %></p>
                    </div>
                    <div class="card-dashboard-booking-details-buttons">
                      <%= link_to "Decline", booking_path(booking), method: :delete, class: "btn-decline" %>
                      <%= link_to "Accept", booking_accept_path(booking), class: "btn-accept" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="dashboard-bookings-collection">
    <h3>Your bookings:</h3>
      <% bookings = Booking.where("user_id = #{current_user.id}") %>
      <% bookings.each do |booking| %>
        <div class="card-dashboard mb-3 col-12">
          <div class="dashboard-img-container">
            <%= image_tag booking.art.picture, alt: booking.art.title %>
          </div>
          <div class="card-dashboard-infos">
            <div class="card-dashboard-infos-align-left">
              <h2><%= link_to booking.art.title, art_path(booking.art.id) %></h2>
              <h2><%= booking.art.price %>€ / day</h2>
              <p><em> <%= booking.art.artist %></em></p>
              <p class="art-description"><%= booking.art.description %></p>
            </div>
            <div class="card-dashboard-align-right">
              <% if booking.accepted %>
                <p class="success-text"><i class="fas fa-check"></i> Congratulations, the owner accepted your request! You can enjoy '<%= booking.art.title %>' from <%= booking.start_date %> to <%= booking.end_date %>.</p>
              <% else %>
                <p class="pending-text"><i class="fas fa-question-circle"> </i> The owner is still reviewing your request for '<%= booking.art.title %>' from <%= booking.start_date %> to <%= booking.end_date %>.</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
