<div class="show-page-buttons mt-4">
  <%= link_to "Back to all arts", arts_path, class: "btn-main" %>
  <%= link_to "Create a listing", new_art_path, class: "btn-main" %>
  <% if  @art.user_id == current_user.id%>
    <%= link_to "Edit this listing", edit_art_path(@art.id), class: "btn-main" %>
  <% end %>
</div>

<div class="card-view">
  <div class="card-view-img">
    <!--<%= image_tag @art.picture, alt: @art.title %>-->
    <%= cl_image_tag @art.picture.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="card-view-sticky">
    <div class="card-view-checkout">
      <h1><%= @art.title %></h1>
      <p><em>By <%= @art.artist %></em></p>
      <p><%= @art.description %></p>
      <p><%= @art.price %>€ / day</p>
      <p>From <%= @art.user.first_name %> <%= @art.user.last_name %></p>
      <div id='art-booking-dates' data-unavailable="<%= @art.unavailable_dates.to_json %>">
        <% if current_user.id != @art.user_id  %>
          <%= simple_form_for([@art, @booking]) do |f| %>
             <%= f.input :start_date, as: :string, type: :text %>
             <%= f.input :end_date, as: :string, type: :text %>
             <%= f.submit "Book this art", class: "btn-main" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="more-info-wrapper">
      <div class="card-view-info">
        <p><strong>Premium Shipping available:</strong> This item qualifies for international premium shipping.</p>
        <p><strong>Authenticity guaranteed:</strong> We guarantee the authenticity of this item.</p>
      </div>
    </div>
  </div>
  <div id="card-view-description">
    <h4>About '<%= @art.title %>'</h4>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Facilis alias eum quibusdam blanditiis odio, temporibus minus? Quam nisi harum iusto magni cumque. Asperiores sed animi quis fugiat odio laudantium non!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Facilis alias eum quibusdam blanditiis odio, temporibus minus? Quam nisi harum iusto magni cumque. Asperiores sed animi quis fugiat odio laudantium non!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Facilis alias eum quibusdam blanditiis odio, temporibus minus? Quam nisi harum iusto magni cumque. Asperiores sed animi quis fugiat odio laudantium non!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Facilis alias eum quibusdam blanditiis odio, temporibus minus? Quam nisi harum iusto magni cumque. Asperiores sed animi quis fugiat odio laudantium non!</p>
  </div>
</div>
