<!DOCTYPE html>
<html>
  <head>
    <title>Artbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="card-product m-3 col-md-9 col-sm-12">
      <img src="https://images.unsplash.com/photo-1423742774270-6884aac775fa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW9uYSUyMGxpc2F8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
      <div class="card-product-infos">
        <div>
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
        <h2 class="card-product-pricing">19.99€ / day</h2>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
